// Typography. Font size values are without "px" so that they can be used in the font size mixin
$base-font-size: 18; //18px
$line-height-general: 1.5;

// Colors and backgrounds
$grey-light-1: #f9f9f9;
$grey-light-2: #e5e5e5;
$grey-light-3: #f5f5f5;
$grey-medium: #eee;
$grey-dark: #494949;
$light-green: #85cd41;
$blue-medium: #07c;

// Miscellaneous
$outer-shadow-black: 0 0.1rem 0.8rem rgb(0 0 0 / 0.2);