.dashboard-header {
  padding: 2rem 1rem 1.2rem;
  display: flex;
  @include font-size(20);
  font-weight: 300;

  @include respond(mobile) {
    @include font-size(16);
  }

  &-selectall {
    margin-right: 2rem;

    @include respond(mobile) {
      margin-right: 1rem;
    }
  }

  &-selected {
    margin-right: 6rem;

    @include respond(mobile) {
      margin-right: 2rem;
    }
  }
}